.information {
  .info-card {
    position: relative;
    margin: 1.5rem 0 0.5rem;
    padding: 2rem 1rem 1rem;
    border: 1px solid rgba(156, 131, 82, 0.4);
    border-radius: 0.4rem;
    background-color: #fffefa;

    .label {
      position: absolute;
      top: -1rem;
      left: 50%;
      transform: translateX(-50%);
      padding: 0.5rem 1.5rem;
      border: 1px solid rgba(156, 131, 82, 0.4);
      border-radius: 0.3rem;
      background-color: var(--alt-bg-color);
      white-space: nowrap;
    }
  }

  .content {
    font-size: 0.9rem;
    line-height: 1.9;
    white-space: pre-line;
  }

  .event-program {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      gap: 1rem;
      padding: 0.5rem 0;
      text-align: left;
    }

    .program-time {
      min-width: 3.5rem;
      color: var(--alt-color);
    }
  }
}
