.invitation {
  .content {
    margin: 0.8rem 0;
    font-size: 0.9rem;
    line-height: 1.9;
    color: #515b69;
  }

  .organizer {
    margin-top: 1rem;
    color: var(--alt-color);
    line-height: 1.8;
    letter-spacing: 0.04em;
  }
}
